<!--
<div class="slide-show slide-show-render slide-show-render-full flexslider Panel" data-swap-frequency="%%GLOBAL_SwapFrequency%%" id="HomeSlideShow">
    <ol class="slides">
        %%SNIPPET_SlideList%%
    </ol>
</div>
-->
<!-- //slide-show -->​

<!-- http://docs.dev7studios.com/jquery-plugins/nivo-slider -->
<!-- http://cdnjs.com/libraries/jquery-nivoslider -->

<!--
<link rel="stylesheet" href="nivo-slider.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
<script src="jquery.nivo.slider.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});
</script>
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/nivo-slider.min.css" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.pack.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});
</script>


<div id="slider" class="nivoSlider">
	<!-- Slide #1 -->
    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg?t=1417570482" alt="" title="" data-thumb="" data-transition="" />
	<!-- Slide #2 -->
    <a href="http://dev7studios.com">
	    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel1.jpg?t=1417570482" alt="" title="#htmlcaption"  data-thumb="" data-transition=""/>
    </a>
	<!-- Slide #3 -->
    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg?t=1417570482" alt="" title="This is an example of a caption"  data-thumb="" data-transition=""/>
	<!-- Slide #4 -->
    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel1.jpg?t=1417570482" alt="" title="" data-thumb="" data-transition=""/>
</div>
<div id="htmlcaption" class="nivo-html-caption">
    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
</div>

<!--
<div id="slider">
    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg?t=1417570482" alt="" data-thumb="images/up_thumb.jpg" />
    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel1.jpg?t=1417570482" alt="" data-thumb="images/monstersinc_thumb.jpg" />
    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg?t=1417570482" alt="" data-thumb="images/nemo_thumb.jpg" />
    <img src="http://cdn3.bigcommerce.com/s-mixi7d/product_images/theme_images/ClassicCarousel2.jpg?t=1417570482" alt="" data-thumb="images/walle_thumb.jpg" />
</div>
-->

<!-- <img src="images/slide1.jpg" alt="" data-transition="slideInLeft" /> -->
